/*
*/
.col-12{
  margin-top: 25px;
}
.sorryDiv {
  margin: 0 auto;
  align-content: center;

}

.sorryDiv h2,
.sorryDiv h3 {
  text-align: center;
  margin-top: 0;
}
.sorryDiv a {
    color:#F4BF19;
    text-decoration: none;
}